<div class="card" id="blogPost">
    <div class="card-body">
        <h3 class="card-title" id="blogTitle"></h3>
        <p class="card-title" id="authorInfo">Posted by {{user.name}} on </p>
        <p class="card-text" id="blogContent"></p>
    </div>
    {{!-- {{#each comments as |comment|}}
    {{> comment-details}}
    {{/each}}  --}}
</div>
    