<div class="row" id="dashboard-create">
        <div class="card" id="blogPost">
            <h2 class="card-header">Create New Post</h2>
            <div class="card-body">
                <h4>Blog Title</h4>
                <textarea id="blog-Title"></textarea>
            </div>
            <div class="card-body">
                <h4>Blog Content</h4>
                <textarea class="card-text" id="blog-Content"></textarea>
            </div>
            <button type="button" class="btn btn-success" id="createNewPost">Create Post</button>
        </div>
</div>

<script src="/js/submitNewPost.js"></script>