{{#if logged_in}}
<div class="card" id="dashboard">
    <div class="card-body">
        {{#each blogs as |blog|}}
        <div class="post">
            <div class="card-header" id="card-title" style="margin-bottom:1rem;cursor:pointer;">
                <h3 id="blogTitle" value={{blog.id}}>{{blog.title}}<span class="deletePost" id={{blog.id}} style="float:right;cursor:pointer;">x</span></h3>
            </div>
        </div>
        {{/each}}
    </div>
    <button type="button" class="btn btn-success" id="writeBlog">+ New Post</button>
</div>
{{/if}}

<script src="/js/delete.js"></script>
<script src="/js/newPost.js"></script>
<script src="/js/edit.js"></script>