<section>
    {{!-- TODO: Add template engine to create a home page. Contents:
    1. Navigation bar(part of main.handlebars)
    2. Display all blogposts contents:
        a. Blog title
        b. Blog content(text)
        c. Blog creator
        d. Blog creation date --}}
    
</section>